OPENAI_API_KEY=
OPEN_AI_MODEL=
ELEVEN_LABS_KEY=
ELEVEN_LABS_MODEL=
OUTPUT_DIR=/app/data/ad_audio
BACKGROUND_AUDIO_DIR=/app/data/background_audio
NARRATOR_AUDIO_DIR=/app/data/narrator 
FRONTEND_DIR=/app/frontend 